.LL-Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: var(--color-off-white);
  padding: 4.5rem 2.25rem;
}

.LL-Testimonials-Carousel {
  display: flex;
  width: 70%;
  align-items: center;
  gap: 50px;
}

.LL-Testimonials-Carousel .LL-Card {
  flex-basis: 25%;
}

.LL-Testimonial-Review {
  color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
  .LL-Testimonials-Carousel {
    flex-wrap: wrap;
  }

  .LL-Testimonials-Carousel .LL-Card {
    flex-basis: 40%;
  }
}